body > .container {
    max-width: 1240px;
    width: 100%;
}

.CompanyList {
    margin-left: 10px;
    padding: 0px;
    max-height: 900px;
    list-style: none;
    float: left;
    width: 200px;
    overflow: scroll;
    border: 1px solid black;
    border-radius: 5px;
}

.CompanyList > li {
    text-align: center;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
}

.CompanyList > li:hover {
    border: 2px solid orange;
}

.LineChart {
    width: 70%;
    height: 500px;
    display: inline-block;
}
