body > .container {
    max-width: 1240px;
    width: 100%;
}

.CompanyList {
    margin-left: 10px;
    padding: 0px;
    max-height: 800px;
    float: left;
    width: 200px;
    overflow: scroll;
}

.LineChart {
    width: 80%;
    height: 400px;
    display: inline-block;
}
